/* Base styles and resets */
@layer base {
    * {
        transition-property: background-color, border-color, color, fill, stroke;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    body {
        background-color: var(--background);
        color: var(--text-main);
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        line-height: 1.2;
        color: var(--primary);
        /* In light mode it's Deep Blue, in dark it's Near White */
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    button {
        cursor: pointer;
    }
}