@import "tailwindcss";
@import "../styles/tokens.css";
@import "../styles/base.css";

@layer base {

    *,
    *::before,
    *::after {
        transition: background-color 0.3s ease,
            border-color 0.3s ease,
            color 0.3s ease,
            fill 0.3s ease,
            stroke 0.3s ease;
    }
}